* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.form-label {
  font-family: "Poppins";
  font-weight: 400;
}

.form-control:focus {
  background: none;
  outline: none;
  box-shadow: none;
  border-color: #ff005563;
}

#root {
  height: 100%;
}

input {
  color: black;
}

.logo-bg {
  background-color: #ff0054;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Poppins'
}

.form-control {
  font-family: 'Poppins';
  font-size: 0.9rem;
  color: black;
}

.form_btn {
  background-color: #ff0054;
  color: white;
  font-size: medium;
  padding: 0.5rem 4rem 0.5rem 4rem;
  font-family: 'Poppins';
}

.form_btn:hover {
  background-color: #ff0055d7;
  color: white;
}

.login_text {
  font-family: 'Poppins';
  color: #f01313;
  font-weight: 400;
}

.error {
  color: red;
  font-family: 'Poppins';
}

.icons {
  color: #ff0054;
  font-size: 5rem;

}

.user_name {
  color: #ff0054;
  font-family: "Poppins";
  font-size: 1.3rem;
}

.user-border {
  border: 1px solid;
  padding: 50px;
  border-radius: 50%;
  background-color: white;
}

.user-Name p {
  color: white;
  font-family: "Poppins";
  font-size: 1.4rem;
}

.todo-btn {
  background-color: white;
  color: #ff0054;
  font-weight: 700;
  padding: 0.4rem 3rem 0.4rem 3rem;
  font-family: 'Poppins';
}

.todo-btn:hover {
  background-color: white;
  color: #ff0054;
}

.input-group input {
  border: 1px solid;
}


.todo_btn {
  background-color: #ff0054;
  color: white;
  font-size: medium;
  padding: 0.4rem 1rem 0.4rem 1rem;
  font-family: 'Poppins';
}

.todo_btn:hover {
  background-color: #ff0055d0;
  color: white;
  font-size: medium;
  padding: 0.4rem 1rem 0.4rem 1rem;
  font-family: 'Poppins';
}

.todo-list ul {
  list-style: none;
}

.todo-list li {
  padding: 1rem;
}

.CheckBox {
  width: 15px;
  height: 15px;
}

.todo-task {
  margin-top: auto;
  margin-bottom: auto;
}

.td-btn {
  background-color: #ff0054;
  color: white;
  font-size: medium;
  padding: 0.2rem 2rem 0.2rem 2rem;
  font-family: 'Poppins';
}

.td-btn:hover {
  border: 1px solid #ff0054;
  color: #ff0054;
}